$qu-side-nav-bg: white !default;
$qu-side-nav-border: $qu-side-nav-bg !default;
$qu-side-nav-color: blue !default;

.qu-side-nav {
	position: fixed;
	z-index: 99999999;
	width: 300px;
	height: 100%;
	color: $qu-side-nav-color;
	background-color:#31373D;
	transition: 0.3s;

	&-open {
		left: 0;		
	}
	
	&-close {
		left: -301px;		
	}
}