.sow-steps {
    padding:0px 16px;
    .steps {
        .step {
            background: white;
            box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
            margin-bottom:16px;
            text-align: left;
            transition:0.2s;
            padding: 6px 12px;
            &.complete {
                background-color: #64B5F6;
            }
            .order {
                color:#424242;
            }
        }
    }
    .hide {
        display:none;
    }
}