.sow-comments {
    padding:16px;
    background: #f7f7f7;
    .comment {
        .author {
            padding:8px;
            text-align:left;
            font-size: 12px;
	        letter-spacing: -0.2px;
        }
        .msg {
            display:inline-block;
            padding:10px;
            border-radius: 3px;
	        background-color: #d8d8d8;
            font-size: 14px;
	        letter-spacing: -0.2px;
            text-align: left;
        }
        .footer {
            padding:6px;
            text-align: left;
            font-size: 10px;;
	        letter-spacing: -0.2px;
	        color: rgba(0, 0, 0, 0.64);
            .qu-button-container {
                button {
                    font-size:inherit;
                    color:inherit;
                    border-radius: 0px;
                    border-bottom:1px solid black;
                }
            }
        }
    }
    .qu-input-container {
        margin-right:6px;
    }
    .text-left {
        text-align: left;
    }
    .text-right {
        text-align: right;
    }
    .qu-button-container {
        height:100%;
        button {
            height:100%;
        }
    }
    .qu-textarea-container {
        margin-bottom:10px;
    }
}