.qu-button-container {
	display: inline-block;
	margin-bottom: 5px;

	button {
		font-size: 13.3333px;
		
		cursor: pointer;
		position: relative;

		display: block;
		margin: auto;
		padding: 0;

		overflow: hidden;

		border-width: 0;
		outline: none;
		border-radius: 2px;
				
		background-color: white;
		color: black;
	}

	button > * {
		position: relative;
	}

	button span {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 8px 16px;
	}

	/* Styles, not important */
	*, *:before, *:after {
		box-sizing: border-box;
	}
}

.qu-button {
	width: 100%;
}

.qu-primary > .qu-button-container {
	.qu-button {
		background-color: $sl-primary;
		color: white;		
	}
}

.qu-secondary > .qu-button-container {
	.qu-button {
		background-color: $sl-secondary;
		color: white;
	}
}

.qu-tertiary > .qu-button-container {
	.qu-button {
		background-color: $sl-tertiary;
		color: white;
	}
}

.qu-tertiary.qu-swap > .qu-button-container {
	.qu-button {
		background-color: white;
		color:$sl-tertiary;
	}
}

.qu-danger > .qu-button-container {
	.qu-button {
		background-color: $sl-danger;
		color: white;
	}
}

.qu-warning > .qu-button-container {
	.qu-button {
		background-color: $sl-warning;
		color: white;
	}
}

.qu-raised > .qu-button-container {
	.qu-button {
    	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
		-webkit-transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
    	transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
	}
}