$list-item-bg-color:#424242;
$sow-list-item-bg-color:#606060;

.side-nav {

	button.side-nav-btn-close {
		border-style: none;
		background-color:transparent;
		color:#fff;
		cursor: pointer;
	}

	.side-nav-content {
		padding-top:32px;
		.side-nav-sows-tv {
			text-align:center;
			margin-bottom:32px;
			.title {
				color:#FF9800;
				font-size:14px;
			}
			.value {
				color:#fff;
				font-size:44px;
			}
		}

		.side-nav-item {
			background-color:transparent;
			color:#fff;
			padding:10px 20px;
			display: flex;
			align-items: center;
			&-icon {
				margin-right:6px;
			}
			&-content {

			}
			&.active {
				background-color:rgba(216,216,216,0.12);
				color:#FF9800;
			}
		}

		.side-nav-link {
			cursor:pointer;	
			&:hover {
				background-color:rgba($list-item-bg-color, 0.62);
			}
		}

		.side-nav-sows {
			.sow-list-item {
				padding:6px 20px 6px 20px;
				background-color:$sow-list-item-bg-color;
				font-size:14px;
				display:block;
				margin-bottom:1px;
				&-header {
					color:rgba(255,255,255,0.76);
				}
				&-footer {
					color:#FF9800;
				}
				&:hover {
					background-color:rgba($sow-list-item-bg-color, 0.62);
				}
			}
		}


	}


}