.sow {
    padding:16px;
    .mat-tab-header {
        .mat-tab-label {
            flex-grow:1;
            &.mat-tab-active {
                color:#42A5F5;
            }
            i, span {
                font-size: 16px;
                vertical-align:middle;
            }
        }
        mat-ink-bar {
            background-color:#42A5F5;
        }
    }

    .sow-main-container {
        width:100%;
        > div {
            margin-bottom:16px;
        }
    }

    .sow-timeline {
        margin-right:16px;
    }

    @include phone {
        padding:4px;
    }
}

@import './sow-details/sow-details';
@import './sow-docs/sow-docs';
@import './sow-comments/sow-comments';
@import './sow-activities/sow-activities';
@import './sow-permissions/sow-permissions';