.sow {
    padding:16px;
    .md-tab-header {
        .md-tab-label {
            flex-grow:1;
            &.md-tab-active {
                color:#42A5F5;
            }
            i, span {
                font-size: 16px;
            }
        }
        md-ink-bar {
            background-color:#42A5F5;
        }
    }

    .sow-main-container {
        width:100%;
    }

    .sow-timeline {
        margin-right:16px;
    }

    @include phone {
        padding:4px;
    }
}

@import './sow-details/sow-details';
@import './sow-docs/sow-docs';
@import './sow-comments/sow-comments';
@import './sow-activities/sow-activities';