.sow {
    padding:16px;
    .md-tab-header {
        .md-tab-label.md-tab-active {
            color:#673AB7;
        }
    }
    .md-tab-label {
        flex-grow:1;
        i, span {
            font-size: 16px;
        }
    }

    .sow-main-container {
        width:100%;
    }

    .sow-timeline {
        margin-right:16px;
    }
}

@import './sow-details/sow-details';
@import './sow-docs/sow-docs';
@import './sow-comments/sow-comments';
@import './sow-activities/sow-activities';