.confirm-component{
    position:fixed;
    bottom:32px;
    right:32px;
    z-index:999999;
    padding:16px;
    background-color:#263238;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    color:#fff;
    transition:0.3s;
    span {
        padding-right:16px;
    }
    a {
        cursor:pointer;
    }
    .msg {
        margin-bottom:16px;
    }
    &.hide {
        display:none;
    }
}