.sow-details {
    text-align: left;
    font-family: "proxima-nova";
    padding:16px;
    background: #f7f7f7;

    #sowPrimaryDetails {
        margin-bottom:24px;
        .number {
            font-size:18px;
            letter-spacing: -0.4px;
	        color: rgba(0, 0, 0, 0.58);
        }
        .title {
            font-size: 24px;
	        font-weight: 500;
	        letter-spacing: -0.5px;
	        color: rgba(0, 0, 0, 0.78);
        }
        .desc {
            font-size: 16px;
	        letter-spacing: -0.3px;
	        color: rgba(0, 0, 0, 0.58);
            span {
                //max-width:400px;
                display: inline-block;
            }
            pre {
                white-space: pre-wrap;
            }
        }
    }

    #sowSecondaryDetails {
        div.qu-flex-row {
            margin-bottom:16px;
        }
    }

    .sow-detail-item {
        label {
            display:block;
            font-size: 14px;
	        font-weight: 500;
	        letter-spacing: -0.3px;
	        color: rgba(0, 0, 0, 0.58);
        }
        span {
            font-size: 24px;
	        letter-spacing: -0.5px;
	        color: rgba(0, 0, 0, 0.87);
        }
    }

    .sow-details-toolbar {
        .qu-button-container {
            margin-right:6px;
        }
    }

    .qu-input-container {
        padding:6px 0px;
        background-color: #fff;
    }

    .qu-flex-align-items-end {
        -webkit-align-items: flex-end;
        align-items: flex-end;
    }
    
    .qu-textarea-box {
        textarea {
            min-height:125px;
        }
    }

    .os-input-text {
        border:none;
        font-size:16px;
        background:transparent;
        width:100%;
        padding:4px;
        &.medium {
            font-size:20px;
        }
        &.large {
            font-size:24px;
        }
    }

}
