<div class="sow-details">

    <div class="sow-details-toolbar qu-flex-justify-content-end" quFlexRow>
        <qu-button class="qu-raised qu-secondary" (click)="toggleView()" [class.qu-secondary]="!isEditable" [class.qu-tertiary]="isEditable">
            <span *ngIf="!isEditable"><i class="fa fa-pencil-square-o"></i> Edit</span>
            <span *ngIf="isEditable"><i class="fa fa-floppy-o"></i> Save</span>
        </qu-button>
        <qu-button class="qu-raised qu-danger" (click)="askToDelete()">
            <span><i class="fa fa-trash"></i> Delete</span>
        </qu-button>
    </div>

    <div id="sowPrimaryDetails">
        <div class="number">
            <span *ngIf="!isEditable" class="sow-detail-item">{{sow.number}}</span>
            <qu-input-container *ngIf="isEditable" [placeholder]="'Number'">
                <input type="text" name="sowNumber" [(ngModel)]="sow.number" required>
            </qu-input-container>
        </div>
        <div class="title">
            <span *ngIf="!isEditable" class="sow-detail-item">{{sow.title}}</span>
            <qu-input-container *ngIf="isEditable" [placeholder]="'Title'">
                <input type="text" name="sowTitle" [(ngModel)]="sow.title" required>
            </qu-input-container>
        </div>
        <div class="desc">
            <span *ngIf="!isEditable" class="sow-detail-item">
                <pre>{{sow.description}}</pre>
            </span>
            <qu-textarea-container *ngIf="isEditable">
                <textarea placeholder="Description" [(ngModel)]="sow.description" required></textarea>
            </qu-textarea-container>
        </div>
    </div>
    <div id="sowSecondaryDetails">
        <div quFlexRow>
            <div *ngIf="!isEditable" class="sow-detail-item qu-flex-50">
                <label>Total Contract Value</label>
                <span>{{ sow.amount | currency:'USD':true:'1.2-2' }}</span>
            </div>
            <qu-input-container *ngIf="isEditable" [placeholder]="'Amount'" class="qu-flex-50">
                <input type="number" name="sowAmount" [(ngModel)]="sow.amount" required>
            </qu-input-container>
        </div>
        <div quFlexRow>
            <div *ngIf="!isEditable" class="sow-detail-item qu-flex-50">
                <label>Effective Date</label>
                <span>{{sow.startDate}}</span>
            </div>
            <qu-input-container *ngIf="isEditable" [placeholder]="'Start Date'" class="qu-flex-50">
                <input type="date" name="sowStartDate" [(ngModel)]="sow.startDate" required>
            </qu-input-container>
            <div *ngIf="!isEditable" class="sow-detail-item qu-flex">
                <label>End Date</label>
                <span>{{sow.endDate}}</span>
            </div>
            <qu-input-container *ngIf="isEditable" [placeholder]="'End Date'" class="qu-flex-50">
                <input type="date" name="sowEndDate" [(ngModel)]="sow.endDate" required>
            </qu-input-container>
        </div>
        <div quFlexRow>
            <div *ngIf="!isEditable" class="sow-detail-item qu-flex">
                <label>Type</label>
                <span>{{sow.type}}</span>
            </div>
            <qu-input-container *ngIf="isEditable" [placeholder]="'Type'" class="qu-flex-50">
                <input type="text" name="sowType" [(ngModel)]="sow.type" required>
            </qu-input-container>
        </div>
        <div quFlexRow>
            <div *ngIf="!isEditable" class="sow-detail-item qu-flex-50">
                <label>Business Owner</label>
                <span>{{sow.businessOwner}}</span>
            </div>
            <qu-input-container *ngIf="isEditable" [placeholder]="'Business Owner'" class="qu-flex-50">
                <input type="text" name="sowBusinessOwner" [(ngModel)]="sow.businessOwner" required>
            </qu-input-container>
            <div *ngIf="!isEditable" class="sow-detail-item qu-flex">
                <label>Vendor</label>
                <span>{{sow.vendor}}</span>
            </div>
            <qu-input-container *ngIf="isEditable" [placeholder]="'Vendor'" class="qu-flex-50">
                <input type="text" name="sowVendor" [(ngModel)]="sow.vendor" required>
            </qu-input-container>
        </div>
        <div quFlexRow>
            <div *ngIf="!isEditable" class="sow-detail-item qu-flex-50">
                <label>Funding Source</label>
                <span>{{sow.fundingSource}}</span>
            </div>
            <qu-input-container *ngIf="isEditable" [placeholder]="'Funding Source'" class="qu-flex-50">
                <input type="text" name="sowFundingSource" [(ngModel)]="sow.fundingSource" required>
            </qu-input-container>
            <div *ngIf="!isEditable" class="sow-detail-item qu-flex">
                <label>Funding Glid</label>
                <span>{{sow.fundingGlid}}</span>
            </div>
            <qu-input-container *ngIf="isEditable" [placeholder]="'Funding Glid'" class="qu-flex-50">
                <input type="text" name="sowFundingGlid" [(ngModel)]="sow.fundingGlid" required>
            </qu-input-container>
        </div>
    </div>
    <confirm></confirm>
</div>