.settings-steps {
    padding:16px;
    > div {
        margin-bottom:10px;
    }
    .steps-list {
        settings-steps-cell:not(:last-child) {
            .step {
                border-bottom:1px solid #B0BEC5;
            }
        }
    }
}

@import './settings-steps-cell/settings-steps-cell';