$sl-primary: #8BC34A;
$sl-secondary: #1976D2;

$sl-gray: grey;
$sl-gray-dark: #616161;

$qu-primary-bg: $sl-primary;
$qu-primary-color: #ecf0f1;

// Buttons
$qu-primary-btn-bg-color: $sl-primary;
$qu-primary-btn-color: white;
$qu-secondary-btn-bg-color:$sl-secondary;
$qu-secondary-btn-color:white;

// Sidenav
$qu-side-nav-bg: white;
$qu-side-nav-border: whitesmoke;
$qu-side-nav-color: $sl-secondary;

html{
  height: 100%;
}
body {
  min-height: 100%;
}
body {
    background: whitesmoke;
		color: rgba(0,0,0,0.87);
    margin: 0;
}

.app {
	height: calc(100vh - 64px);
  padding-top: 64px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  display: block;
}

.app > * > * {
	min-height: calc(100% - 32px);
}

h1 {
  color:rgba(0,0,0,0.68);
}

@import '../../quSquared/quSquared';

@import '../header/header';
@import '../home/home';
@import '../profile/profile-create/profile-create';
@import '../profile/profile-edit/profile-edit';
@import '../profile/profile-view/profile-view';
@import '../side-nav/side-nav';
@import '../sign-in/sign-in';
@import '../sign-up/sign-up';
@import '../forgot-password/forgot-password';
@import '../splash/splash';