$qu-input-container-focus-color:#2196F3;

.qu-input-container {

	* { box-sizing:border-box; }

    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,.23);
    margin: 4px 4px 9pt 0;
	position:relative; 
    display:flex;
    flex-grow:1;
	
	> input {
        height:48px;
        font-size: 18px;
        padding:0px 10px;
        display: block;
        width: 100%;
        border-radius: 3px;
        overflow: hidden;
        word-wrap: break-word;
        border: 0;
        background: 0 0;
        margin: 0;
        width: 100%;
        resize: none;
        transition: background 85ms ease-in,border-color 85ms ease-in;
        &:focus, &:active {
            outline: 0;
            box-shadow: none;
        }
	}

	> input:focus { 
		outline:none; 
	}

	/* LABEL ======================================= */
	> label {
        color: #999;
        font-size: 18px;
        font-weight: 100;
        position: absolute;
        pointer-events: none;
        left: 10px;
        top: 19px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
	}

	/* active state */
	> input:focus ~ label, > input:valid ~ label 		{
    top: 6px;
    font-size: 12px;
    color: $qu-input-container-focus-color;
	}

	> input:active, > input:focus {
		border-color: $qu-input-container-focus-color;
	}
}

.os-input-text {
    border:none;
    font-size:16px;
    background:transparent;
    width:100%;
    padding:4px;
    &.medium {
        font-size:24px;
    }
    &.large {
        font-size:28px;
    }
}